* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bgc{
    background-color: wheat;
}
.wrapper__center{
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;              
  margin-top: 50px;    
}
button{
    width: 100px;
    height: 100px;   
    border-radius: 5px;
}
.calculator{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    border: solid black 2px;
    padding: 30px 40px 60px;
    border-radius: 15px;
    box-shadow: 
  0 0 0 1px rgba(0, 0, 0, 0.08), 
  0 25px 40px -12px rgba(0, 0, 0, 0.25), 
  0 12px 16px -8px rgba(0, 0, 0, 0.15);
    width: 500px;
    height: 660px;
}
.number-gray{
    background-color: gray;
    font-size: 30px;
}
.number-yell{
    background-color: #FFD800;
    font-size: 30px;
}
.number-yell-eq{
    background-color: #FFD800;
    font-size: 30px;
}
.number{
    font-size: 30px;
}
.number-yell:hover, .number-yell:active{
    background-color: #c5a700;
}
.number-gray:hover, .number-gray:active{
    background-color: rgb(166, 166, 166);
}
.number-yell-eq:hover, .number-yell-eq:active{
    background-color: #c5a700;
}
.display{
    color: white;
    text-align: end;
    width: 100%;
    font-size: 40px;
    overflow: hidden;
}
.number-cool{
    border: solid rgb(249, 115, 115) 2px;
}